<h2>New Recipe</h2>

<form action='/recipes/create' method='post'>
  <div class='form_input'>
    <label for='name'>Recipe Name</label>
    <input type='text' name='name' id='name' />
  </div>
  <div class='form_input'>
    <label for='ingredients'>Ingredients</label>
    <textarea name='ingredients' id='ingredients' rows=10 cols=50></textarea>
  </div>
  <div class='form_input'>
    <label for='instructions'>Instructions</label>
    <textarea name='instructions' id='instructions' rows=10 cols=50></textarea>
  </div>
  <div class='form_input'>
    <label for='category'>Category</label>
    <select name='category' id='category'>
      <% RECIPE_CATEGORIES.each do |cat| %>
        <option value='<%= cat %>'><%= cat %></option>
      <% end %>
    </select>
  </div>
  <div class='form_input'>
    <label for='cuisine'>Cuisine</label>
    <input type='text' name='cuisine' id='cuisine' />
  </div>
  <div class='form_input'>
    <label for='image'>Image Link</label>
    <input type='text' name='image' id='image' value='' />
  </div>
  <div class='form_input'>
    <input type='radio' name='public' id='public' value='false' checked /><label for='public'>Private</label>
    <input type='radio' name='public' id='public' value='true' /><label for='public'>Public</label>
  </div>

  <button class='create' type='submit'>Save Recipe</button>
  <p><a href='/'>Cancel</a></p>
</form>