<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>CMS</title>
    
    <link rel='stylesheet' href='/stylesheets/cms.css' />
  </head>
  
  <body>
    <% if session[:message] %>
      <div class='message'>
        <%= session.delete(:message) %>
      </div>
    <% end %>
    
    <%== yield %>
  </body>
</html>