<form action='/create' method='post'>
  <label for='new_file_name'>Add a new document:</label>
  <div>
    <input type='text' id='new_file_name' name='new_file_name' value='<%= params[:new_file_name] %>' />
    <button type='submit'>Create</button>
  </div>
</form>
